.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.custom-card-margin{
    margin-bottom: .10rem;
}

.card .card-img-top {
    width: 240px;
    height: 240px;
    object-fit: contain;
}

.card-text{
    color: green;
    font-weight: 800;
}

.card-title{
    font-weight: 900;
}
